
MNIST_dataset/train-labels-idx1-ubyte.gz
MNIST_dataset/train-images-idx3-ubyte.gz
MNIST_dataset/t10k-labels-idx1-ubyte.gz
MNIST_dataset/t10k-images-idx3-ubyte.gz
Linear regression/output_14_0.png
Linear regression/notebook.tex
